/*--------------  variables  ----------------*/
:root {
  /* colors */
  --black: #000;
  --light-brown: #B37c57;
  --nightfall: #3c455c;

  --lead-light: #b8c5cd;  
  --lead-slightly-light: #aebcc6;
  --lead: #9aacb8; 
  --lead-slightly-dark: #90a4b1;
  --lead-dark: #7c93a3;

  /* background accent colors */
  --iron: rgba(221, 227, 227, 0.15);
  --edward: rgba(165, 181, 181, 0.15);

  --border-radius: 0.6em;
  --title-font-size: 3em;
  --question-font-size: 1.2em;
  --font-weight: 700;
}

/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Pacifico');

/*=============================================
=                  Base Styles                =
=============================================*/
html {
  background: repeating-linear-gradient(30deg,
                                        var(--iron), var(--iron) 30px,
                                        var(--edward) 0, var(--edward) 60px);
}
body {
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 16px; 
  font-family: 'Arimo', sans-serif;
}
h1 {
  font-family: 'Pacifico', cursive;

  margin: 3rem 1rem;
  text-align: center;
  font-size: var(--title-font-size); 
  color: var(--light-brown);
  letter-spacing: 1px;

  text-shadow:
   -1px -1px 0 var(--black),  
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
     1px 1px 0 var(--black),
     1px 4px 0 rgba(0, 0, 0, 0.12);
}
h2 {
  font-size: var(--question-font-size);
  margin-bottom: 2em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 2em;
  margin: 1em 0;
  text-transform: uppercase;
  font-weight: var(--font-weight);
}
h5 {
  font-size: 1.1em;
  font-weight: var(--font-weight);
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1.5em;
  color: var(--nightfall);
  font-weight: var(--font-weight);
}

strong {
  font-weight: var(--font-weight);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

form, button {
  border: 1px solid var(--lead-slightly-dark);
  background-color: #fff;
}

button {
  cursor: pointer;
  font-weight: var(--font-weight);
  text-transform: capitalize;
}

button:hover {
  text-decoration: underline;
}

form {
  padding: 1em;
}

fieldset {
  margin-bottom: 1em;
}

input {
  display: block;
  padding: 0.5em;
}

textarea {
  font-family: inherit;
  resize: none;
  line-height: 1.3;
}

label {
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--lead-dark);
  margin-bottom: 5px;
}
section {
  margin: 2.5em 0;
}

/*------------  media queires  --------------*/
@media (min-width: 800px) {
  :root {
    --title-font-size: 4em;
    --question-font-size: 1.5em;
  }
  h4 {
    font-size: 2.5em;
  }
}