/* decalare varibles */
:root {
  /* colors */
  --black: #000;
  --light-brown: #B37c57;
  --nightfall: #3c455c;

  --lead: #9aacb8; 
  --lead-slightly-dark: #90a4b1;
  --lead-dark: #7c93a3;

  /* background accent colors */
  --iron: rgba(221, 227, 227, 0.15);
  --edward: rgba(165, 181, 181, 0.15);

  
  --title-font-size: 3em;
  --question-font-size: 1.2em;
}

/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Pacifico');


/************************************************************ 
BASE STYLES 
*************************************************************/
html {
  font-family: 'Arimo', sans-serif;
  height: 100%; /* fixes background pattrn issue */
  font-size: 16px; 
  letter-spacing: 0.5px;
  background: repeating-linear-gradient(30deg,
                                        var(--iron), var(--iron) 30px,
                                        var(--edward) 0, var(--edward) 60px);
}

body {
  line-height: 1.3;
}

h1 {
  font-family: 'Pacifico', cursive;

  margin: 3rem 1rem;
  text-align: center;
  font-size: var(--title-font-size); 
  color: var(--light-brown);
  letter-spacing: 1px;
  line-height: 1.3;

  text-shadow:
   -1px -1px 0 var(--black),  
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
     1px 1px 0 var(--black),
     1px 4px 0 rgba(0, 0, 0, 0.12);
}

h2 {
  font-size: var(--question-font-size);
  margin-bottom: 2em;
}

h3 {
  font-size: 1.2em;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  :root {
    --title-font-size: 4em;
    --question-font-size: 1.5em;
  }
}